html {
	overflow: scroll;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#wrapper {
	flex: 1;
  	padding: 0px;
}

#nav {
	height: 50px;
	margin: 0;
	padding: 0;

	display: flex;

	background: #000000;
}

#nav_links_wrapper {
	display: flex;
	margin-left: auto;
	align-items: center;

	font-size: 16pt;
}

.nav_link {
	height: 50px;
	padding-left: 1vw;
	padding-right: 1vw;

	display: flex;
	align-items: center;

	color: white;
}

.nav_link:hover {
	background-color: #292929;
	color: red;
}

#title {
	padding-left: 10px;
	display: flex;
	align-items: center;

	color: white;
	font-weight: bold;
	font-size: 22pt;
}

@media (max-width: 825px) {
	#nav_links_wrapper {
		font-size: 14pt;
	}
	#title {
		font-size: 18pt;
	}
}

@media (max-width: 680px) {
	#nav_links_wrapper {
		font-size: 12pt;
	}
	#title {
		font-size: 14pt;
	}
}

@media (max-width: 560px) {
	#title {
		font-size: 10pt;
	}
}

.page_title {
	padding-left: 10px;
}

#main {
	background: #efefef;
}

#footer {
	padding: 0px;
	height: 50px;

	background: #000000;

	justify-content: center;
	text-align: center;

	font-size: 10px;
	color: #5e5e5e;
}

#footer-content {
	height: 32px;
	padding-top: 7px;
}

#footer-content a {
	color: #5e5e5e
}

h1 {
	margin: 0;
	font-size: 24px;
}

a {
	text-decoration: none;
	color: #195AA0;
}

p {
	text-align: justify;
	margin: 0px 10px 0px 10px;
}

/*  				   */
/* index.html specific */
/*  				   */

#index_text {
	/* Body text */
	width: auto;
	margin: 0;
	padding-top: 10px;
	font-size: 14pt;
}

#index_img {
	/* Team members image */
	min-height: 200px;
	height: 40vh;
	max-height: 450px;
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

#index_text h1 {
	/* Welcome text */
	font-size: 22pt;
	padding-left: 10px;
	padding-bottom: 10px;
}

#index_content {
	/* Wrapper for content */
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
}

@media (max-width: 700px) {
	#index_text {
		font-size: 2.8vw;
	}

	#index_text h1 {
		font-size: 4.1vw;
	}
}

/*                     */
/* about.html specific */
/*                     */

#about_content {
	/* Wrapper for content */
	max-width: 1200px;
	padding: 10px;
}

#about_body_center {
	display: flex;
	flex-direction: row;
}

#fig1 {
	/* width: auto; */
	/* width="322px" height="322px" */
	font-size: 11px;
	margin: 100px auto;
	padding-left: 10px;
	padding-right: 10px;
}

#fig1 p {
	margin: 0px 15px 0px 0px;
}

#about_bullets {
	padding-inline-start: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#about_bullet {
	padding: 5px;
}

/*                     */
/*  data.html specific */
/*                     */

#data_content {
	/* Wrapper for content */
	max-width: 1200px;
	padding: 10px;
}

h3 {
	/* padding-left: 15px; */
}


/*                     */
/*  team.html specific */
/*                     */

.member_block {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.member_img {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.member_img_wrapper {
	min-width: 100px;
}

.member_body {
	padding-left: 25px;
	width: 1000px;
}

.member_name {
	font-size: 16pt;
	font-weight: bold;
	padding-bottom: 15px;
	margin: 0px;
}

/*                     */
/* survey.html specific*/
/*                     */

.survey_row {
	display: flex;
	flex-direction: row;
}

.survey_img {
	max-width: 100%;
	max-height: 100%;
}

.survey_gal_block {
	max-width: 500px;
	padding: 12px;
}

/*                     */
/* galaxy.html specific*/
/*                     */

.galaxy_main {
	width: 730px;
	border: 0;
	padding: 10px;
}

area {
	z-index: -1;
}

/*                     */
/* fileld.html specific*/
/*                     */

.field_wrapper {
	max-width: 695px;
	border: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.field_img_switcher {
	display: flex;
	flex-direction: row;
	max-width: 695px
}

#field_main_img {
	max-height: 600px;
	width: auto;
}

.controllers {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 95px;
	padding-right: 10px;
}

.filter_controller {
	height: 170px;
	width: 95px;
	padding-bottom: 10px;
}

.stars_controller {
	height: 170px;
	width: 95px;
	padding-bottom: 10px;
}

.mask_controller {
	height: 60px;
	width: 95px;
	padding-bottom: 10px;
}

.afs_controller {
	height: 170px;
	width: 95px;
}

.field_descrip {
	display: flex;
	flex-direction: row;
	width: 695px;
	max-height: 550px;
}

.field_cmd {
	height: auto;
	max-width: 375px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.field_diag_img {
	max-width: 650px;
	padding-left: 10px;
	padding-bottom: 10px;
}
