<!DOCTYPE html>
<html lang="en">
<head>
	{%- block metadata -%}
	<meta name="title" content="GHOSTS">
	<meta name="subject" content="The GHOSTS Survey.">
	<meta name="description" content="Homepage of the GHOSTS project.">
	<meta name="keywords" content="galaxies, galaxy evolution, GHOSTS, halos,
								   galaxy halos, resolved, stellar populations">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	<link href="{% block path_adjust %}{% endblock %}../style.css" rel="stylesheet" type="text/css">
	<title>{% block title %}{% endblock %} - GHOSTS</title>
	{%- endblock -%}
</head>

<body>
<div id="wrapper">
<div id="nav">
	{%- block nav -%}
	<div id="title">GHOSTS HST Survey</div>
	<div id="nav_links_wrapper">
		<div class="nav_link"><a href="{{ self.path_adjust() }}index.html">Home</a></div>
		<div class="nav_link"><a href="{{ self.path_adjust() }}about.html">About GHOSTS</a></div>
		<div class="nav_link"><a href="{{ self.path_adjust() }}team.html">Team Members</a></div>
		<div class="nav_link"><a href="https://ui.adsabs.harvard.edu/public-libraries/ajDQq6GaSx-vwnzYhmK-lQ" target="_blank">Publications</a></div>
		<div class="nav_link"><a href="{{ self.path_adjust() }}survey.html">The Survey</a></div>
	</div>
	{%- endblock -%}
</div>
<div id="main">{% block main %}{% endblock %}</div>
</div>

<div id="footer">
<div id="footer-content">
	{% block footer -%}
	2015 Roelof de Jong, and the GHOSTS team. Leibniz-Institut fuer
	Astrophysik Potsdam (AIP), An der Sternwarte 16, 14482 Potsdam, Germany
	<br> email: rdejong at aip dot de
	{%- endblock %}
</div>
</div>

</body>
</html>
