{% extends "base.html" %}

{% block path_adjust %}../{% endblock %}
{% block title %}Home{% endblock %}
{% block metadata %}
	{{ super() }}
{% endblock %}
{% block script %}
	<script type="text/javascript">
		if (document.images) {
		    image=new Image();
		    image.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_color.jpg";
		    filters1=new Image();
		    filters1.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_color.jpg";
		    filters2=new Image();
		    filters2.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_f606w.jpg";
		    filters3=new Image();
		    filters3.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_f814w.jpg";
			stars1=new Image();
		    stars1.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_old.jpg";
			stars2=new Image();
		    stars2.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_stars.jpg";
		    stars3=new Image();
		    stars3.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_young.jpg";
			tests1=new Image();
		    tests1.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_comp.jpg";
		    tests2=new Image();
		    tests2.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_offsets.jpg";
		    mask=new Image();
		    mask.src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_mask.jpg";
			function change(name) {
				document.getElementById("field_main_img").src = eval(name+".src");
			}
		}
	</script>{% endblock %}
{% block nav %}
		{{ super() }}
{% endblock %}

{% block main %}
    <h2 class="page_title">{{galname}}-field{{fieldnum}}</h2>
	<h3><a href="{{galname}}.html">&nbsp;&nbsp;Back to {{galname}}</a></h3>
    <div class="field_wrapper">
        <div class="field_img_switcher">
            <div class="controllers">
                <img src="../../images/filter_switcher.png" class="filter_controller" usemap="#filtermap">
				<map name="filtermap">
				    <area target="" alt="combined" onmouseover="change('filters1')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_color.jpg" coords="4,4,90,55" shape="rect">
				    <area target="" alt="f814w" onmouseover="change('filters2')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_f606w.jpg" coords="4,62,90,110" shape="rect">
				    <area target="" alt="f606w" onmouseover="change('filters3')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_f814w.jpg" coords="4,114,90,165" shape="rect">
				</map>
                <img src="../../images/stars_switcher.png" class="stars_controller" usemap="#starmap">
				<map name="starmap">
				    <area target="" alt="old" onmouseover="change('stars1')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_old.jpg" coords="4,4,90,55" shape="rect">
				    <area target="" alt="all" onmouseover="change('stars2')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_stars.jpg" coords="4,62,90,110" shape="rect">
				    <area target="" alt="young" onmouseover="change('stars3')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_young.jpg" coords="4,114,90,165" shape="rect">
				</map>
                <img src="../../images/mask_switcher.png" class="mask_controller" usemap="#maskmap">
				<map name="maskmap">
				    <area target="" alt="old" onmouseover="change('mask')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_mask.jpg" coords="4,4,91,56" shape="rect">
				</map>
                <img src="../../images/afs_switcher.png" class="afs_controller" usemap="#testmap">
				<map name="testmap">
				    <area target="" alt="observation" onmouseover="change('filters1')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_color.jpg" coords="4,4,90,55" shape="rect">
				    <area target="" alt="comp" onmouseover="change('tests1')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_comp.jpg" coords="4,62,90,110" shape="rect">
				    <area target="" alt="offsets" onmouseover="change('tests2')" href="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_offsets.jpg" coords="4,114,90,165" shape="rect">
				</map>
            </div>
            <img src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_color.jpg" id="field_main_img">
        </div>
		<p>
			<br>
			Above are comparison images for {{galname}}-field{{fieldnum}}.
			Hold your cursor over one of the three colored rectangles of each section
			(or the mask button) to see the image. Clicking on a colored
			rectangle will open the source image as a large (~10 MB) jpeg file.
			The completeness (Comp.) of the artificial star tests sections
			indicates the percentage of generated stars recovered given the
			selection culls of the pipeline. The F606W offset indicates the
			difference between the F606W input magnitude of the artificial star
			and the magnitude subsequently measured by the pipeline. The
			photometric catalogs and further analysis can be found further down
			the page.
			<br><br>
		</p>
		<p>
			Below is the CMD of stars in {{galname}}-field{{fieldnum}}. Regions
			defining the young and old stars plotted above are shaded blue and
			red respectively. Further details of this plot can be found
			<a href="../data.html#trgb">here</a>.
			<br><br>
		</p>

        <div class="field_descrip">
            <img src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_cmd.png" class="field_cmd">
			<p>
				<br><br><br><br><br><br>
				An individual measurement of The Tip of the Red Giant Branch
				(TRGB) was not recorded for NGC7814-field01.

				However, the average distance modulus for the whole galaxy, as
				indicated by the dashed red line, is: <b>{{distmod}} ±
				{{distmod_unc}} mag</b>. This equates to a distance of <b>{{dist}} ±
				{{dist_unc}} Mpc</b>.
			</p>
        </div>

        <div class="field_diagnostics">
            <img src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_sharp.png" class="field_diag_img">
            <img src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_round.png" class="field_diag_img">
            <img src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_crowd.png" class="field_diag_img">
            <img src="../../images/{{galname}}/{{galname}}-field{{fieldnum}}_chi.png" class="field_diag_img">
        </div>
    </div>
{% endblock %}

{% block footer -%}
	{{ super() }}
{%- endblock %}
